In [8]:
import pandas as pd
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'pandas'

In [5]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

ModuleNotFoundError: No module named 'pandas'

In [ ]:
load_dotenv()

DB_NAME = os.getenv("MYSQL_DATABASE")
DB_USER = os.getenv("MYSQL_USER")
DB_PASSWORD = os.getenv("MYSQL_PASSWORD")
DB_HOST = "127.0.0.1"
DB_PORT = 3306

In [ ]:
engine = create_engine(
    f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

In [ ]:
df = pd.DataFrame({
    "order_id": [1, 2, 3],
    "product": ["Espresso", "Cappuccino", "Latte"],
    "quantity": [2, 1, 3],
    "price": [3.5, 4.0, 4.5]
})

In [ ]:
df.to_sql(
    name="coffee_sales",
    con=engine,
    if_exists="replace",
    index=False
)

print("✅ Data loaded from .env and written to MySQL")

✅ Data loaded from .env and written to MySQL

In [ ]:
df = pd.read_sql(
    sql="SELECT * FROM coffee_sales",
    con=engine
)

In [ ]:
df

   order_id     product  quantity  price
0         1    Espresso         2    3.5
1         2  Cappuccino         1    4.0
2         3       Latte         3    4.5