In [31]:
import pandas as pd

In [32]:
df=pd.read_csv("/workspaces/Crop-Yield-Prediction/crop_yield_prediction_with_weather.csv", index_col="Unnamed: 0").reset_index(drop=True)

In [33]:
df.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,lat,lon,avg_temp,total_precip,total_snow
0,Albania,Maize,1990,36613,1485,121.0,41.000028,19.999962,14.74,658.7,21.98
1,Albania,Potatoes,1990,66667,1485,121.0,41.000028,19.999962,14.74,658.7,21.98
2,Albania,"Rice, paddy",1990,23333,1485,121.0,41.000028,19.999962,14.74,658.7,21.98
3,Albania,Sorghum,1990,12500,1485,121.0,41.000028,19.999962,14.74,658.7,21.98
4,Albania,Soybeans,1990,7000,1485,121.0,41.000028,19.999962,14.74,658.7,21.98

In [34]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [35]:
load_dotenv()

DB_NAME = os.getenv("MYSQL_DATABASE")
DB_USER = os.getenv("MYSQL_USER")
DB_PASSWORD = os.getenv("MYSQL_PASSWORD")
DB_HOST = "127.0.0.1"
DB_PORT = 3306

In [36]:
engine = create_engine(
    f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

In [37]:
df.to_sql(
    name="crop_yield_prediction_with_weather_data",
    con=engine,
    if_exists="replace",
    index=False
)

print("✅ Data loaded from .env and written to MySQL")

✅ Data loaded from .env and written to MySQL

In [38]:
# Hər bir sütundakı boş dəyərlərin sayı
# print(data.isnull().sum())

In [39]:
# SELECT year, AVG(yield) AS average_yield
# FROM crop_yield_data
# GROUP BY year
# ORDER BY year;