In [23]:
import pandas as pd

In [24]:
df=pd.read_csv("/workspaces/Crop-Yield-Prediction/crop_yield_prediction_with_weather.csv", index_col="Unnamed: 0").reset_index(drop=True)

In [25]:
df.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,lat,lon,avg_temp,total_precip,total_snow
0,Albania,Maize,1990,36613,1485,121.0,41.000028,19.999962,14.74,658.7,21.98
1,Albania,Potatoes,1990,66667,1485,121.0,41.000028,19.999962,14.74,658.7,21.98
2,Albania,"Rice, paddy",1990,23333,1485,121.0,41.000028,19.999962,14.74,658.7,21.98
3,Albania,Sorghum,1990,12500,1485,121.0,41.000028,19.999962,14.74,658.7,21.98
4,Albania,Soybeans,1990,7000,1485,121.0,41.000028,19.999962,14.74,658.7,21.98

In [26]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [27]:
load_dotenv()

DB_NAME = os.getenv("MYSQL_DATABASE")
DB_USER = os.getenv("MYSQL_USER")
DB_PASSWORD = os.getenv("MYSQL_PASSWORD")
DB_HOST = "127.0.0.1"
DB_PORT = 3306

In [28]:
engine = create_engine(
    f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

In [29]:
df.to_sql(
    name="crop_yield_prediction_with_weather_data",
    con=engine,
    if_exists="replace",
    index=False
)

print("✅ Data loaded from .env and written to MySQL")

✅ Data loaded from .env and written to MySQL

In [30]:
# Hər bir sütundakı boş dəyərlərin sayı
# print(data.isnull().sum())

In [31]:
# SELECT year, AVG(yield) AS average_yield
# FROM crop_yield_data
# GROUP BY year
# ORDER BY year;

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28242 entries, 0 to 28241
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Area                           28242 non-null  object
 1   Item                           28242 non-null  object
 2   Year                           28242 non-null  int64
 3   hg/ha_yield                    28242 non-null  int64
 4   average_rain_fall_mm_per_year  28242 non-null  int64
 5   pesticides_tonnes              28242 non-null  float64
 6   lat                            28242 non-null  float64
 7   lon                            28242 non-null  float64
 8   avg_temp                       13098 non-null  float64
 9   total_precip                   13098 non-null  float64
 10  total_snow                     13098 non-null  float64
dtypes: float64(6), int64(3), object(2)
memory usage: 2.4+ MB

In [35]:
df.describe()

,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,lat,lon,avg_temp,total_precip,total_snow
count,28242.000000,28242.000000,28242.00000,28242.000000,28242.000000,28242.000000,13098.000000,13098.000000,13098.000000
mean,2001.544296,77053.332094,1149.05598,37076.909344,15.284326,18.063165,18.697792,1435.648030,22.411699
std,7.051905,84956.612897,709.81215,59958.784665,23.732050,71.019621,8.528348,1742.404602,52.551200
min,1990.000000,50.000000,51.00000,0.040000,-41.500083,-107.991707,-7.860000,0.000000,0.000000
25%,1995.000000,19919.250000,593.00000,1702.000000,-2.483383,-53.200000,11.260000,537.300000,0.000000
50%,2001.000000,38295.000000,1083.00000,17529.440000,22.351115,24.991639,22.230000,1143.200000,0.000000
75%,2008.000000,104676.750000,1668.00000,48687.880000,30.330840,78.667743,25.340000,1665.500000,26.880000
max,2013.000000,501412.000000,3240.00000,367778.000000,63.246778,172.834408,28.740000,18111.000000,572.740000

In [37]:
df.isnull().sum()

Area                                 0
Item                                 0
Year                                 0
hg/ha_yield                          0
average_rain_fall_mm_per_year        0
pesticides_tonnes                    0
lat                                  0
lon                                  0
avg_temp                         15144
total_precip                     15144
total_snow                       15144
dtype: int64

In [39]:
df = df.dropna(subset=[
    'hg/ha_yield',
    'avg_temp',
    'total_precip',
    'average_rain_fall_mm_per_year'
])

In [40]:
df.isnull().sum()

Area                             0
Item                             0
Year                             0
hg/ha_yield                      0
average_rain_fall_mm_per_year    0
pesticides_tonnes                0
lat                              0
lon                              0
avg_temp                         0
total_precip                     0
total_snow                       0
dtype: int64

In [41]:
df['Year'] = df['Year'].astype(int)
df['hg/ha_yield'] = df['hg/ha_yield'].astype(float)
df['avg_temp'] = df['avg_temp'].astype(float)
df['total_precip'] = df['total_precip'].astype(float)
df['average_rain_fall_mm_per_year'] = df['average_rain_fall_mm_per_year'].astype(float)

In [48]:
trend = df.groupby('Year')['hg/ha_yield'].mean()

trend.plot(
    title='Average Crop Yield Over Years',
    ylabel='Yield (hg/ha)',
    xlabel='Year'
)

KeyError: 'Column not found: hg/ha_yield'

In [ ]:
df.plot.scatter(
    x='avg_temp',
    y='hg/ha_yield',
    title='Temperature vs Yield'
)

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.