In [49]:
pip install openmeteo-requests

Requirement already satisfied: openmeteo-requests in /usr/local/lib/python3.12/dist-packages (1.7.4)
Requirement already satisfied: niquests>=3.15.2 in /usr/local/lib/python3.12/dist-packages (from openmeteo-requests) (3.16.1)
Requirement already satisfied: openmeteo-sdk>=1.22.0 in /usr/local/lib/python3.12/dist-packages (from openmeteo-requests) (1.23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from niquests>=3.15.2->openmeteo-requests) (3.4.4)
Requirement already satisfied: urllib3-future<3,>=2.13.903 in /usr/local/lib/python3.12/dist-packages (from niquests>=3.15.2->openmeteo-requests) (2.15.901)
Requirement already satisfied: wassima<3,>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from niquests>=3.15.2->openmeteo-requests) (2.0.3)
Requirement already satisfied: flatbuffers==25.9.23 in /usr/local/lib/python3.12/dist-packages (from openmeteo-sdk>=1.22.0->openmeteo-requests) (25.9.23)
Requirement already satisfied: h11<1.0.0,>=0.11.0 in /usr/local/lib/python3.12/dist-packages (from urllib3-future<3,>=2.13.903->niquests>=3.15.2->openmeteo-requests) (0.16.0)
Requirement already satisfied: jh2<6.0.0,>=5.0.3 in /usr/local/lib/python3.12/dist-packages (from urllib3-future<3,>=2.13.903->niquests>=3.15.2->openmeteo-requests) (5.0.10)
Requirement already satisfied: qh3<2.0.0,>=1.5.4 in /usr/local/lib/python3.12/dist-packages (from urllib3-future<3,>=2.13.903->niquests>=3.15.2->openmeteo-requests) (1.5.6)

In [50]:
pip install requests-cache retry-requests numpy pandas

Requirement already satisfied: requests-cache in /usr/local/lib/python3.12/dist-packages (1.2.1)
Requirement already satisfied: retry-requests in /usr/local/lib/python3.12/dist-packages (2.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: attrs>=21.2 in /usr/local/lib/python3.12/dist-packages (from requests-cache) (25.4.0)
Requirement already satisfied: cattrs>=22.2 in /usr/local/lib/python3.12/dist-packages (from requests-cache) (25.3.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests-cache) (4.5.1)
Requirement already satisfied: requests>=2.22 in /usr/local/lib/python3.12/dist-packages (from requests-cache) (2.32.4)
Requirement already satisfied: url-normalize>=1.4 in /usr/local/lib/python3.12/dist-packages (from requests-cache) (2.2.1)
Requirement already satisfied: urllib3>=1.25.5 in /usr/local/lib/python3.12/dist-packages (from requests-cache) (2.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: typing-extensions>=4.14.0 in /usr/local/lib/python3.12/dist-packages (from cattrs>=22.2->requests-cache) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.22->requests-cache) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.22->requests-cache) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.22->requests-cache) (2025.11.12)

In [51]:
import openmeteo_requests

import pandas as pd
import requests_cache
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://archive-api.open-meteo.com/v1/archive"
params = {
	"latitude": 40.38,
	"longitude": 49.87,
	"start_date": "2025-11-24",
	"end_date": "2025-12-25",
	"daily": ["apparent_temperature_mean", "apparent_temperature_max", "apparent_temperature_min", "weather_code", "precipitation_sum", "rain_sum", "snowfall_sum", "precipitation_hours", "sunrise", "sunset", "daylight_duration", "sunshine_duration"],
	"timezone": "GMT",
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates: {response.Latitude()}째N {response.Longitude()}째E")
print(f"Elevation: {response.Elevation()} m asl")
print(f"Timezone: {response.Timezone()}{response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0: {response.UtcOffsetSeconds()}s")

# Process daily data. The order of variables needs to be the same as requested.
daily = response.Daily()
daily_apparent_temperature_mean = daily.Variables(0).ValuesAsNumpy()
daily_apparent_temperature_max = daily.Variables(1).ValuesAsNumpy()
daily_apparent_temperature_min = daily.Variables(2).ValuesAsNumpy()
daily_weather_code = daily.Variables(3).ValuesAsNumpy()
daily_precipitation_sum = daily.Variables(4).ValuesAsNumpy()
daily_rain_sum = daily.Variables(5).ValuesAsNumpy()
daily_snowfall_sum = daily.Variables(6).ValuesAsNumpy()
daily_precipitation_hours = daily.Variables(7).ValuesAsNumpy()
daily_sunrise = daily.Variables(8).ValuesInt64AsNumpy()
daily_sunset = daily.Variables(9).ValuesInt64AsNumpy()
daily_daylight_duration = daily.Variables(10).ValuesAsNumpy()
daily_sunshine_duration = daily.Variables(11).ValuesAsNumpy()

daily_data = {"date": pd.date_range(
	start = pd.to_datetime(daily.Time(), unit = "s", utc = True),
	end =  pd.to_datetime(daily.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = daily.Interval()),
	inclusive = "left"
)}

daily_data["apparent_temperature_mean"] = daily_apparent_temperature_mean
daily_data["apparent_temperature_max"] = daily_apparent_temperature_max
daily_data["apparent_temperature_min"] = daily_apparent_temperature_min
daily_data["weather_code"] = daily_weather_code
daily_data["precipitation_sum"] = daily_precipitation_sum
daily_data["rain_sum"] = daily_rain_sum
daily_data["snowfall_sum"] = daily_snowfall_sum
daily_data["precipitation_hours"] = daily_precipitation_hours
daily_data["sunrise"] = daily_sunrise
daily_data["sunset"] = daily_sunset
daily_data["daylight_duration"] = daily_daylight_duration
daily_data["sunshine_duration"] = daily_sunshine_duration

daily_dataframe = pd.DataFrame(data = daily_data)
print("\nDaily data\n", daily_dataframe)

Coordinates: 40.38664245605469째N 49.816898345947266째E
Elevation: -30.0 m asl
Timezone: NoneNone
Timezone difference to GMT+0: 0s

Daily data
                         date  apparent_temperature_mean  \
0  2025-11-24 00:00:00+00:00                  10.566236
1  2025-11-25 00:00:00+00:00                   9.047736
2  2025-11-26 00:00:00+00:00                  10.349210
3  2025-11-27 00:00:00+00:00                   9.747184
4  2025-11-28 00:00:00+00:00                  10.684850
5  2025-11-29 00:00:00+00:00                  12.375562
6  2025-11-30 00:00:00+00:00                  12.136742
7  2025-12-01 00:00:00+00:00                  12.838340
8  2025-12-02 00:00:00+00:00                   9.224884
9  2025-12-03 00:00:00+00:00                   6.515053
10 2025-12-04 00:00:00+00:00                   8.614886
11 2025-12-05 00:00:00+00:00                   9.967941
12 2025-12-06 00:00:00+00:00                   8.611236
13 2025-12-07 00:00:00+00:00                   6.686548
14 2025-12-08 00:00:00+00:00                   9.702893
15 2025-12-09 00:00:00+00:00                   7.624979
16 2025-12-10 00:00:00+00:00                   8.342408
17 2025-12-11 00:00:00+00:00                   7.607927
18 2025-12-12 00:00:00+00:00                   7.820456
19 2025-12-13 00:00:00+00:00                   5.365142
20 2025-12-14 00:00:00+00:00                  -0.431040
21 2025-12-15 00:00:00+00:00                   1.643451
22 2025-12-16 00:00:00+00:00                   3.520862
23 2025-12-17 00:00:00+00:00                   3.805572
24 2025-12-18 00:00:00+00:00                   3.032780
25 2025-12-19 00:00:00+00:00                   3.930276
26 2025-12-20 00:00:00+00:00                   3.944578
27 2025-12-21 00:00:00+00:00                   4.959454
28 2025-12-22 00:00:00+00:00                   1.857808
29 2025-12-23 00:00:00+00:00                   3.282468
30 2025-12-24 00:00:00+00:00                   5.456863
31 2025-12-25 00:00:00+00:00                  -0.941912

    apparent_temperature_max  apparent_temperature_min  weather_code  \
0                  11.816883                  9.033800           3.0
1                  11.811586                  7.107851           3.0
2                  12.784582                  9.135027           3.0
3                  11.085346                  8.796183          51.0
4                  13.003252                  8.378041           3.0
5                  14.211342                 10.481182          53.0
6                  13.390526                 10.803409          51.0
7                  13.896776                 11.037653          51.0
8                  11.617625                  6.936610          51.0
9                   7.210442                  5.860048          51.0
10                 10.592700                  5.972937          55.0
11                 11.273458                  8.478701          61.0
12                 10.578320                  6.725446           3.0
13                  7.278081                  6.346900          53.0
14                 13.361200                  6.919695          61.0
15                  8.666514                  6.554094          55.0
16                  9.591160                  6.435413          61.0
17                  8.521471                  6.519595          51.0
18                  9.158743                  5.686145          51.0
19                  9.258038                 -1.995795          55.0
20                  2.821692                 -4.118529          51.0
21                  2.966538                 -0.312517          51.0
22                  5.438148                  1.939485           3.0
23                  5.969474                  2.214835           3.0
24                  6.357580                  1.369630           3.0
25                  7.107903                  0.125256           3.0
26                  6.222641                  0.448276           3.0
27                  5.998031                  3.485816          51.0
28                  4.192529                 -0.751052           3.0
29                  6.125558                  0.849409           3.0
30                  8.938315                  1.429484          51.0
31                  1.494505                 -2.523880          51.0

    precipitation_sum   rain_sum  snowfall_sum  precipitation_hours  \
0            0.000000   0.000000           0.0                  0.0
1            0.000000   0.000000           0.0                  0.0
2            0.000000   0.000000           0.0                  0.0
3            0.100000   0.100000           0.0                  1.0
4            0.000000   0.000000           0.0                  0.0
5            3.700000   3.700000           0.0                 15.0
6            0.100000   0.100000           0.0                  1.0
7            1.800000   1.800000           0.0                  9.0
8            0.500000   0.500000           0.0                  4.0
9            0.300000   0.300000           0.0                  2.0
10           1.800000   1.800000           0.0                  5.0
11          10.300001  10.300001           0.0                 17.0
12           0.000000   0.000000           0.0                  0.0
13           2.000000   2.000000           0.0                  9.0
14           7.400001   7.400001           0.0                 12.0
15           5.200000   5.200000           0.0                 14.0
16          16.499998  16.499998           0.0                 22.0
17           0.400000   0.400000           0.0                  4.0
18           0.100000   0.100000           0.0                  1.0
19           2.100000   2.100000           0.0                  5.0
20           0.800000   0.800000           0.0                  4.0
21           0.900000   0.900000           0.0                  4.0
22           0.000000   0.000000           0.0                  0.0
23           0.000000   0.000000           0.0                  0.0
24           0.000000   0.000000           0.0                  0.0
25           0.000000   0.000000           0.0                  0.0
26           0.000000   0.000000           0.0                  0.0
27           0.800000   0.800000           0.0                  6.0
28           0.000000   0.000000           0.0                  0.0
29           0.000000   0.000000           0.0                  0.0
30           0.300000   0.300000           0.0                  3.0
31           0.700000   0.700000           0.0                  6.0

       sunrise      sunset  daylight_duration  sunshine_duration
0   1763955430  1763990261       34817.875000       29395.365234
1   1764041894  1764076632       34724.691406       31121.869141
2   1764128359  1764163005       34633.781250       23677.460938
3   1764214823  1764249380       34545.281250       17480.500000
4   1764301287  1764335758       34459.292969       26604.222656
5   1764387750  1764422137       34375.953125        1319.857666
6   1764474213  1764508519       34295.386719       22695.160156
7   1764560675  1764594903       34217.710938       18366.601562
8   1764647136  1764681289       34143.066406       26006.986328
9   1764733596  1764767677       34071.570312       12437.929688
10  1764820055  1764854067       34003.359375       16497.568359
11  1764906513  1764940460       33938.554688        3486.901367
12  1764992969  1765026854       33877.285156       29460.638672
13  1765079424  1765113251       33819.679688        9309.605469
14  1765165877  1765199650       33765.871094           0.000000
15  1765252328  1765286051       33715.992188           0.000000
16  1765338778  1765372454       33670.148438           0.000000
17  1765425225  1765458859       33628.488281       16633.044922
18  1765511670  1765545267       33591.128906           0.000000
19  1765598114  1765631676       33558.101562       24202.433594
20  1765684555  1765718088       33528.984375           0.000000
21  1765770996  1765804503       33503.707031           0.000000
22  1765857436  1765890921       33482.273438        2182.423340
23  1765943874  1765977341       33464.691406       27137.398438
24  1766030311  1766063763       33450.960938       27885.509766
25  1766116746  1766150188       33441.097656       26568.972656
26  1766203179  1766236615       33435.093750       26426.242188
27  1766289611  1766323044       33432.953125        5421.705566
28  1766376042  1766409476       33434.660156       26097.347656
29  1766462470  1766495909       33440.226562       28471.917969
30  1766548896  1766582345       33449.636719       13713.772461
31  1766635321  1766668782       33462.886719        2024.197021

In [52]:
daily_dataframe.sample(7)

,date,apparent_temperature_mean,apparent_temperature_max,apparent_temperature_min,weather_code,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,sunrise,sunset,daylight_duration,sunshine_duration
30,2025-12-24 00:00:00+00:00,5.456863,8.938315,1.429484,51.0,0.3,0.3,0.0,3.0,1766548896,1766582345,33449.636719,13713.772461
19,2025-12-13 00:00:00+00:00,5.365142,9.258038,-1.995795,55.0,2.1,2.1,0.0,5.0,1765598114,1765631676,33558.101562,24202.433594
6,2025-11-30 00:00:00+00:00,12.136742,13.390526,10.803409,51.0,0.1,0.1,0.0,1.0,1764474213,1764508519,34295.386719,22695.160156
3,2025-11-27 00:00:00+00:00,9.747184,11.085346,8.796183,51.0,0.1,0.1,0.0,1.0,1764214823,1764249380,34545.281250,17480.500000
28,2025-12-22 00:00:00+00:00,1.857808,4.192529,-0.751052,3.0,0.0,0.0,0.0,0.0,1766376042,1766409476,33434.660156,26097.347656
2,2025-11-26 00:00:00+00:00,10.349210,12.784582,9.135027,3.0,0.0,0.0,0.0,0.0,1764128359,1764163005,34633.781250,23677.460938
17,2025-12-11 00:00:00+00:00,7.607927,8.521471,6.519595,51.0,0.4,0.4,0.0,4.0,1765425225,1765458859,33628.488281,16633.044922

In [53]:
daily_dataframe

,date,apparent_temperature_mean,apparent_temperature_max,apparent_temperature_min,weather_code,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,sunrise,sunset,daylight_duration,sunshine_duration
0,2025-11-24 00:00:00+00:00,10.566236,11.816883,9.033800,3.0,0.000000,0.000000,0.0,0.0,1763955430,1763990261,34817.875000,29395.365234
1,2025-11-25 00:00:00+00:00,9.047736,11.811586,7.107851,3.0,0.000000,0.000000,0.0,0.0,1764041894,1764076632,34724.691406,31121.869141
2,2025-11-26 00:00:00+00:00,10.349210,12.784582,9.135027,3.0,0.000000,0.000000,0.0,0.0,1764128359,1764163005,34633.781250,23677.460938
3,2025-11-27 00:00:00+00:00,9.747184,11.085346,8.796183,51.0,0.100000,0.100000,0.0,1.0,1764214823,1764249380,34545.281250,17480.500000
4,2025-11-28 00:00:00+00:00,10.684850,13.003252,8.378041,3.0,0.000000,0.000000,0.0,0.0,1764301287,1764335758,34459.292969,26604.222656
5,2025-11-29 00:00:00+00:00,12.375562,14.211342,10.481182,53.0,3.700000,3.700000,0.0,15.0,1764387750,1764422137,34375.953125,1319.857666
6,2025-11-30 00:00:00+00:00,12.136742,13.390526,10.803409,51.0,0.100000,0.100000,0.0,1.0,1764474213,1764508519,34295.386719,22695.160156
7,2025-12-01 00:00:00+00:00,12.838340,13.896776,11.037653,51.0,1.800000,1.800000,0.0,9.0,1764560675,1764594903,34217.710938,18366.601562
8,2025-12-02 00:00:00+00:00,9.224884,11.617625,6.936610,51.0,0.500000,0.500000,0.0,4.0,1764647136,1764681289,34143.066406,26006.986328
9,2025-12-03 00:00:00+00:00,6.515053,7.210442,5.860048,51.0,0.300000,0.300000,0.0,2.0,1764733596,1764767677,34071.570312,12437.929688
10,2025-12-04 00:00:00+00:00,8.614886,10.592700,5.972937,55.0,1.800000,1.800000,0.0,5.0,1764820055,1764854067,34003.359375,16497.568359
11,2025-12-05 00:00:00+00:00,9.967941,11.273458,8.478701,61.0,10.300001,10.300001,0.0,17.0,1764906513,1764940460,33938.554688,3486.901367
12,2025-12-06 00:00:00+00:00,8.611236,10.578320,6.725446,3.0,0.000000,0.000000,0.0,0.0,1764992969,1765026854,33877.285156,29460.638672
13,2025-12-07 00:00:00+00:00,6.686548,7.278081,6.346900,53.0,2.000000,2.000000,0.0,9.0,1765079424,1765113251,33819.679688,9309.605469
14,2025-12-08 00:00:00+00:00,9.702893,13.361200,6.919695,61.0,7.400001,7.400001,0.0,12.0,1765165877,1765199650,33765.871094,0.000000
15,2025-12-09 00:00:00+00:00,7.624979,8.666514,6.554094,55.0,5.200000,5.200000,0.0,14.0,1765252328,1765286051,33715.992188,0.000000
16,2025-12-10 00:00:00+00:00,8.342408,9.591160,6.435413,61.0,16.499998,16.499998,0.0,22.0,1765338778,1765372454,33670.148438,0.000000
17,2025-12-11 00:00:00+00:00,7.607927,8.521471,6.519595,51.0,0.400000,0.400000,0.0,4.0,1765425225,1765458859,33628.488281,16633.044922
18,2025-12-12 00:00:00+00:00,7.820456,9.158743,5.686145,51.0,0.100000,0.100000,0.0,1.0,1765511670,1765545267,33591.128906,0.000000
19,2025-12-13 00:00:00+00:00,5.365142,9.258038,-1.995795,55.0,2.100000,2.100000,0.0,5.0,1765598114,1765631676,33558.101562,24202.433594
20,2025-12-14 00:00:00+00:00,-0.431040,2.821692,-4.118529,51.0,0.800000,0.800000,0.0,4.0,1765684555,1765718088,33528.984375,0.000000
21,2025-12-15 00:00:00+00:00,1.643451,2.966538,-0.312517,51.0,0.900000,0.900000,0.0,4.0,1765770996,1765804503,33503.707031,0.000000
22,2025-12-16 00:00:00+00:00,3.520862,5.438148,1.939485,3.0,0.000000,0.000000,0.0,0.0,1765857436,1765890921,33482.273438,2182.423340
23,2025-12-17 00:00:00+00:00,3.805572,5.969474,2.214835,3.0,0.000000,0.000000,0.0,0.0,1765943874,1765977341,33464.691406,27137.398438
24,2025-12-18 00:00:00+00:00,3.032780,6.357580,1.369630,3.0,0.000000,0.000000,0.0,0.0,1766030311,1766063763,33450.960938,27885.509766
25,2025-12-19 00:00:00+00:00,3.930276,7.107903,0.125256,3.0,0.000000,0.000000,0.0,0.0,1766116746,1766150188,33441.097656,26568.972656
26,2025-12-20 00:00:00+00:00,3.944578,6.222641,0.448276,3.0,0.000000,0.000000,0.0,0.0,1766203179,1766236615,33435.093750,26426.242188
27,2025-12-21 00:00:00+00:00,4.959454,5.998031,3.485816,51.0,0.800000,0.800000,0.0,6.0,1766289611,1766323044,33432.953125,5421.705566
28,2025-12-22 00:00:00+00:00,1.857808,4.192529,-0.751052,3.0,0.000000,0.000000,0.0,0.0,1766376042,1766409476,33434.660156,26097.347656
29,2025-12-23 00:00:00+00:00,3.282468,6.125558,0.849409,3.0,0.000000,0.000000,0.0,0.0,1766462470,1766495909,33440.226562,28471.917969
30,2025-12-24 00:00:00+00:00,5.456863,8.938315,1.429484,51.0,0.300000,0.300000,0.0,3.0,1766548896,1766582345,33449.636719,13713.772461
31,2025-12-25 00:00:00+00:00,-0.941912,1.494505,-2.523880,51.0,0.700000,0.700000,0.0,6.0,1766635321,1766668782,33462.886719,2024.197021

In [54]:
import requests

countries = [
    "Albania", "Algeria", "Angola", "Argentina", "Armenia", "Australia", "Austria",
    "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Belarus", "Belgium", "Botswana",
    "Brazil", "Bulgaria", "Burkina Faso", "Burundi", "Cameroon", "Canada", "Central African Republic",
    "Chile", "Colombia", "Croatia", "Denmark", "Dominican Republic", "Ecuador", "Egypt",
    "El Salvador", "Eritrea", "Estonia", "Finland", "France", "Germany", "Ghana",
    "Greece", "Guatemala", "Guinea", "Guyana", "Haiti", "Honduras", "Hungary",
    "India", "Indonesia", "Iraq", "Ireland", "Italy", "Jamaica", "Japan",
    "Kazakhstan", "Kenya", "Latvia", "Lebanon", "Lesotho", "Libya", "Madagascar",
    "Malawi", "Malaysia", "Mali", "Mauritania", "Mauritius", "Mexico", "Montenegro",
    "Morocco", "Mozambique", "Namibia", "Nepal", "Netherlands", "New Zealand", "Nicaragua",
    "Niger", "Norway", "Pakistan", "Papua New Guinea", "Peru", "Poland", "Portugal",
    "Qatar", "Romania", "Rwanda", "Saudi Arabia", "Senegal", "Slovenia", "South Africa",
    "Spain", "Sri Lanka", "Sudan", "Suriname", "Sweden", "Switzerland", "Tajikistan",
    "Thailand", "Tunisia", "Turkey", "Uganda", "Ukraine", "United Kingdom", "Uruguay",
    "Zambia", "Zimbabwe"
    ]

for country in countries:
    url = f"https://restcountries.com/v3.1/name/{country}"
    response = requests.get(url).json()

    try:
        capital = response[0]["capital"][0]
        lat, lon = response[0]["capitalInfo"]["latlng"]
        print(f"Country: {country} | Capital: {capital} | Coordinates: {lat}, {lon}")
    except (KeyError, IndexError):
        print(f"Country: {country} | Capital information not available")

Country: Albania | Capital: Tirana | Coordinates: 41.32, 19.82
Country: Algeria | Capital: Algiers | Coordinates: 36.75, 3.05
Country: Angola | Capital: Luanda | Coordinates: -8.83, 13.22
Country: Argentina | Capital: Buenos Aires | Coordinates: -34.58, -58.67
Country: Armenia | Capital: Yerevan | Coordinates: 40.17, 44.5
Country: Australia | Capital: Canberra | Coordinates: -35.27, 149.13
Country: Austria | Capital: Vienna | Coordinates: 48.2, 16.37
Country: Azerbaijan | Capital: Baku | Coordinates: 40.38, 49.87
Country: Bahamas | Capital: Nassau | Coordinates: 25.08, -77.35
Country: Bahrain | Capital: Manama | Coordinates: 26.23, 50.57
Country: Bangladesh | Capital: Dhaka | Coordinates: 23.72, 90.4
Country: Belarus | Capital: Minsk | Coordinates: 53.9, 27.57
Country: Belgium | Capital: Brussels | Coordinates: 50.83, 4.33
Country: Botswana | Capital: Gaborone | Coordinates: -24.63, 25.9
Country: Brazil | Capital: Bras챠lia | Coordinates: -15.79, -47.88
Country: Bulgaria | Capital: Sofia | Coordinates: 42.68, 23.32
Country: Burkina Faso | Capital: Ouagadougou | Coordinates: 12.37, -1.52
Country: Burundi | Capital: Gitega | Coordinates: -3.43, 29.93
Country: Cameroon | Capital: Yaound챕 | Coordinates: 3.85, 11.5
Country: Canada | Capital: Ottawa | Coordinates: 45.42, -75.7
Country: Central African Republic | Capital: Bangui | Coordinates: 4.37, 18.58
Country: Chile | Capital: Santiago | Coordinates: -33.45, -70.67
Country: Colombia | Capital: Bogot찼 | Coordinates: 4.71, -74.07
Country: Croatia | Capital: Zagreb | Coordinates: 45.8, 16.0
Country: Denmark | Capital: Copenhagen | Coordinates: 55.67, 12.58
Country: Dominican Republic | Capital: Santo Domingo | Coordinates: 18.47, -69.9
Country: Ecuador | Capital: Quito | Coordinates: -0.22, -78.5
Country: Egypt | Capital: Cairo | Coordinates: 30.05, 31.25
Country: El Salvador | Capital: San Salvador | Coordinates: 13.7, -89.2
Country: Eritrea | Capital: Asmara | Coordinates: 15.33, 38.93
Country: Estonia | Capital: Tallinn | Coordinates: 59.43, 24.72
Country: Finland | Capital: Helsinki | Coordinates: 60.17, 24.93
Country: France | Capital: Paris | Coordinates: 48.87, 2.33
Country: Germany | Capital: Berlin | Coordinates: 52.52, 13.4
Country: Ghana | Capital: Accra | Coordinates: 5.55, -0.22
Country: Greece | Capital: Athens | Coordinates: 37.98, 23.73
Country: Guatemala | Capital: Guatemala City | Coordinates: 14.62, -90.52
Country: Guinea | Capital: Port Moresby | Coordinates: -9.45, 147.18
Country: Guyana | Capital: Georgetown | Coordinates: 6.8, -58.15
Country: Haiti | Capital: Port-au-Prince | Coordinates: 18.53, -72.33
Country: Honduras | Capital: Tegucigalpa | Coordinates: 14.1, -87.22
Country: Hungary | Capital: Budapest | Coordinates: 47.5, 19.08
Country: India | Capital: Diego Garcia | Coordinates: -7.3, 72.4
Country: Indonesia | Capital: Jakarta | Coordinates: -6.17, 106.82
Country: Iraq | Capital: Baghdad | Coordinates: 33.33, 44.4
Country: Ireland | Capital: London | Coordinates: 51.5, -0.08
Country: Italy | Capital: Rome | Coordinates: 41.9, 12.48
Country: Jamaica | Capital: Kingston | Coordinates: 17.99702, -76.79358
Country: Japan | Capital: Tokyo | Coordinates: 35.68, 139.75
Country: Kazakhstan | Capital: Astana | Coordinates: 51.16, 71.45
Country: Kenya | Capital: Nairobi | Coordinates: -1.28, 36.82
Country: Latvia | Capital: Riga | Coordinates: 56.95, 24.1
Country: Lebanon | Capital: Beirut | Coordinates: 33.87, 35.5
Country: Lesotho | Capital: Maseru | Coordinates: -29.32, 27.48
Country: Libya | Capital: Tripoli | Coordinates: 32.88, 13.17
Country: Madagascar | Capital: Antananarivo | Coordinates: -18.92, 47.52
Country: Malawi | Capital: Lilongwe | Coordinates: -13.97, 33.78
Country: Malaysia | Capital: Kuala Lumpur | Coordinates: 3.17, 101.7
Country: Mali | Capital: Bamako | Coordinates: 12.65, -8.0
Country: Mauritania | Capital: Nouakchott | Coordinates: 18.07, -15.97
Country: Mauritius | Capital: Port Louis | Coordinates: -20.15, 57.48
Country: Mexico | Capital: Mexico City | Coordinates: 19.43, -99.13
Country: Montenegro | Capital: Podgorica | Coordinates: 42.43, 19.27
Country: Morocco | Capital: Rabat | Coordinates: 34.02, -6.82
Country: Mozambique | Capital: Maputo | Coordinates: -25.95, 32.58
Country: Namibia | Capital: Windhoek | Coordinates: -22.57, 17.08
Country: Nepal | Capital: Kathmandu | Coordinates: 27.72, 85.32
Country: Netherlands | Capital: Amsterdam | Coordinates: 52.35, 4.92
Country: New Zealand | Capital: Wellington | Coordinates: -41.3, 174.78
Country: Nicaragua | Capital: Managua | Coordinates: 12.13, -86.25
Country: Niger | Capital: Abuja | Coordinates: 9.08, 7.53
Country: Norway | Capital: Oslo | Coordinates: 59.92, 10.75
Country: Pakistan | Capital: Islamabad | Coordinates: 33.68, 73.05
Country: Papua New Guinea | Capital: Port Moresby | Coordinates: -9.45, 147.18
Country: Peru | Capital: Lima | Coordinates: -12.05, -77.05
Country: Poland | Capital: Warsaw | Coordinates: 52.25, 21.0
Country: Portugal | Capital: Lisbon | Coordinates: 38.72, -9.13
Country: Qatar | Capital: Doha | Coordinates: 25.28, 51.53
Country: Romania | Capital: Bucharest | Coordinates: 44.43, 26.1
Country: Rwanda | Capital: Kigali | Coordinates: -1.95, 30.05
Country: Saudi Arabia | Capital: Riyadh | Coordinates: 24.65, 46.7
Country: Senegal | Capital: Dakar | Coordinates: 14.73, -17.63
Country: Slovenia | Capital: Ljubljana | Coordinates: 46.05, 14.52
Country: South Africa | Capital: Pretoria | Coordinates: -25.7, 28.22
Country: Spain | Capital: Madrid | Coordinates: 40.4, -3.68
Country: Sri Lanka | Capital: Sri Jayawardenepura Kotte | Coordinates: 6.89, 79.9
Country: Sudan | Capital: Juba | Coordinates: 4.85, 31.62
Country: Suriname | Capital: Paramaribo | Coordinates: 5.83, -55.17
Country: Sweden | Capital: Stockholm | Coordinates: 59.33, 18.05
Country: Switzerland | Capital: Bern | Coordinates: 46.92, 7.47
Country: Tajikistan | Capital: Dushanbe | Coordinates: 38.55, 68.77
Country: Thailand | Capital: Bangkok | Coordinates: 13.75, 100.52
Country: Tunisia | Capital: Tunis | Coordinates: 36.8, 10.18
Country: Turkey | Capital: Ankara | Coordinates: 39.93, 32.87
Country: Uganda | Capital: Kampala | Coordinates: 0.32, 32.55
Country: Ukraine | Capital: Kyiv | Coordinates: 50.43, 30.52
Country: United Kingdom | Capital: London | Coordinates: 51.5, -0.08
Country: Uruguay | Capital: Montevideo | Coordinates: -34.85, -56.17
Country: Zambia | Capital: Lusaka | Coordinates: -15.42, 28.28
Country: Zimbabwe | Capital: Harare | Coordinates: -17.82, 31.03

In [55]:
import pandas as pd

# CSV fayl캇n캇 oxumaq
data = pd.read_csv('/content/drive/MyDrive/raw_data (1).csv')

# DataFrame-i yoxlamaq
print(data.head())

   Unnamed: 0     Area         Item  Year  hg/ha_yield  \
0           0  Albania        Maize  1990        36613
1           1  Albania     Potatoes  1990        66667
2           2  Albania  Rice, paddy  1990        23333
3           3  Albania      Sorghum  1990        12500
4           4  Albania     Soybeans  1990         7000

   average_rain_fall_mm_per_year  pesticides_tonnes
0                           1485              121.0
1                           1485              121.0
2                           1485              121.0
3                           1485              121.0
4                           1485              121.0

In [56]:
data.sample(7)

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes
12307,12307,India,Potatoes,2000,186443,1083,44957.52
14537,14537,India,Wheat,2013,31538,1083,45620.00
685,685,Argentina,Potatoes,2010,289849,591,105915.04
777,777,Armenia,Wheat,2002,23877,562,88.77
14033,14033,India,Cassava,2011,364770,1083,55540.00
14867,14867,Indonesia,Soybeans,1998,11923,2702,1597.00
12845,12845,India,Potatoes,2004,188091,1083,35113.00

In [57]:
import requests
import pandas as pd

# Paytaxtlar캇n koordinatlar캇 v adlar캇
capitals = [
    {'name': 'Baku', 'lat': 40.4093, 'lon': 49.8671},
    # Digr paytaxtlar burada lav oluna bilr
]

# API 체챌체n sas URL v a챌ar
api_key = 'YOUR_API_KEY'
base_url = 'https://api.open-meteo.com/v1/historical'

# Nticlri saxlamaq 체챌체n bo bir siyah캇
weather_data = []

# Hr bir paytaxt 체챌체n d철vr edirik
for capital in capitals:
    lat = capital['lat']
    lon = capital['lon']
    name = capital['name']

    # API sorusu g철ndririk
    params = {
        'latitude': lat,
        'longitude': lon,
        'start_date': '2025-11-24',
        'end_date': '2023-12-25',
        'hourly': 'temperature_2m,precipitation',
        'timezone': 'auto',
        'apikey': api_key
    }

    response = requests.get(base_url, params=params)

    if response.status_code == 200:
        data = response.json()
        data['city'] = name
        weather_data.append(data)
    else:
        print(f"Failed to get data for {name}")

# Nticlri DataFrame- 챌eviririk
weather_df = pd.DataFrame(weather_data)

# Nticni 챌ap edirik
print(weather_df.head())

Failed to get data for Baku
Empty DataFrame
Columns: []
Index: []

In [61]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import time

# Dataset y체klndi
df = pd.read_csv('/content/drive/MyDrive/raw_data (1).csv')

# Unikal 철lklri tap
countries = df['Area'].unique()

# Nominatim obyektini yarat
geolocator = Nominatim(user_agent="crop_prediction_app_v2", timeout=10)

# Saniyd maksimum 1 soru g철ndrmk 체챌체n RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1.5)

country_coords = {}

print(f"{len(countries)} 철lk 체챌체n koordinatlar tap캇l캇r...")

for country in countries:
    try:
        # Soru g철ndr
        location = geocode(country)
        if location:
            country_coords[country] = (location.latitude, location.longitude)
            print(f"Tap캇ld캇: {country} -> {location.latitude}, {location.longitude}")
        else:
            country_coords[country] = (None, None)
            print(f"Tap캇lmad캇: {country}")
    except Exception as e:
        print(f"Xta ba verdi ({country}): {e}")
        country_coords[country] = (None, None)
        time.sleep(2) # Xta olduqda fasile

# Koordinatlar dataset lav olunur
df['lat'] = df['Area'].map(lambda x: country_coords.get(x, (None, None))[0])
df['lon'] = df['Area'].map(lambda x: country_coords.get(x, (None, None))[1])

print("mliyyat tamamland캇!")

101 철lk 체챌체n koordinatlar tap캇l캇r...
Tap캇ld캇: Albania -> 41.000028, 19.9999619
Tap캇ld캇: Algeria -> 28.0000272, 2.9999825
Tap캇ld캇: Angola -> -11.8775768, 17.5691241
Tap캇ld캇: Argentina -> -34.9964963, -64.9672817
Tap캇ld캇: Armenia -> 40.7696272, 44.6736646
Tap캇ld캇: Australia -> -24.7761086, 134.755
Tap캇ld캇: Austria -> 47.59397, 14.12456
Tap캇ld캇: Azerbaijan -> 40.3936294, 47.7872508
Tap캇ld캇: Bahamas -> 24.7736546, -78.0000547
Tap캇ld캇: Bahrain -> 26.1551249, 50.5344606
Tap캇ld캇: Bangladesh -> 24.4769288, 90.2934413
Tap캇ld캇: Belarus -> 53.4250605, 27.6971358
Tap캇ld캇: Belgium -> 50.6402809, 4.6667145
Tap캇ld캇: Botswana -> -23.1681782, 24.5928742
Tap캇ld캇: Brazil -> -10.3333333, -53.2
Tap캇ld캇: Bulgaria -> 42.6073975, 25.4856617
Tap캇ld캇: Burkina Faso -> 12.0753083, -1.6880314
Tap캇ld캇: Burundi -> -3.426449, 29.9324519
Tap캇ld캇: Cameroon -> 4.6125522, 13.1535811
Tap캇ld캇: Canada -> 61.0666922, -107.991707
Tap캇ld캇: Central African Republic -> 7.0323598, 19.9981227
Tap캇ld캇: Chile -> -31.7613365, -71.3187697
Tap캇ld캇: Colombia -> 4.099917, -72.9088133
Tap캇ld캇: Croatia -> 45.3658443, 15.6575209
Tap캇ld캇: Denmark -> 55.670249, 10.3333283
Tap캇ld캇: Dominican Republic -> 19.0974031, -70.3028026
Tap캇ld캇: Ecuador -> -1.3397668, -79.3666965
Tap캇ld캇: Egypt -> 26.2540493, 29.2675469
Tap캇ld캇: El Salvador -> 13.8000382, -88.9140683
Tap캇ld캇: Eritrea -> 15.9500319, 37.9999668
Tap캇ld캇: Estonia -> 58.7523778, 25.3319078
Tap캇ld캇: Finland -> 63.2467777, 25.9209164
Tap캇ld캇: France -> 46.603354, 1.8883335
Tap캇ld캇: Germany -> 51.1638175, 10.4478313
Tap캇ld캇: Ghana -> 8.0300284, -1.0800271
Tap캇ld캇: Greece -> 38.9953683, 21.9877132
Tap캇ld캇: Guatemala -> 15.5855545, -90.345759
Tap캇ld캇: Guinea -> 10.7226226, -10.7083587
Tap캇ld캇: Guyana -> 4.8417097, -58.6416891
Tap캇ld캇: Haiti -> 19.1399952, -72.3570972
Tap캇ld캇: Honduras -> 15.2572432, -86.0755145
Tap캇ld캇: Hungary -> 47.1817585, 19.5060937
Tap캇ld캇: India -> 22.3511148, 78.6677428
Tap캇ld캇: Indonesia -> -2.4833826, 117.8902853
Tap캇ld캇: Iraq -> 33.0955793, 44.1749775
Tap캇ld캇: Ireland -> 52.865196, -7.9794599
Tap캇ld캇: Italy -> 42.6384261, 12.674297
Tap캇ld캇: Jamaica -> 18.1850507, -77.3947693
Tap캇ld캇: Japan -> 36.5748441, 139.2394179
Tap캇ld캇: Kazakhstan -> 48.1012954, 66.7780818
Tap캇ld캇: Kenya -> 1.4419683, 38.4313975
Tap캇ld캇: Latvia -> 56.8406494, 24.7537645
Tap캇ld캇: Lebanon -> 33.8750629, 35.843409
Tap캇ld캇: Lesotho -> -29.6039267, 28.3350193
Tap캇ld캇: Libya -> 26.8234472, 18.1236723
Tap캇ld캇: Lithuania -> 55.3500003, 23.7499997
Tap캇ld캇: Madagascar -> -18.9249604, 46.4416422
Tap캇ld캇: Malawi -> -13.2687204, 33.9301963
Tap캇ld캇: Malaysia -> 4.5693754, 102.2656823
Tap캇ld캇: Mali -> 16.3700359, -2.2900239
Tap캇ld캇: Mauritania -> 20.2540382, -9.2399263
Tap캇ld캇: Mauritius -> -20.2759451, 57.5703566
Tap캇ld캇: Mexico -> 23.6585116, -102.0077097
Tap캇ld캇: Montenegro -> 42.7755624, 19.2022423
Tap캇ld캇: Morocco -> 28.3347722, -10.3713379
Tap캇ld캇: Mozambique -> -19.302233, 34.9144977
Tap캇ld캇: Namibia -> -23.2335499, 17.3231107
Tap캇ld캇: Nepal -> 28.3780464, 83.9999901
Tap캇ld캇: Netherlands -> 52.2434979, 5.6343227
Tap캇ld캇: New Zealand -> -41.5000831, 172.8344077
Tap캇ld캇: Nicaragua -> 12.3506436, -85.7841006
Tap캇ld캇: Niger -> 17.7356214, 9.3238432
Tap캇ld캇: Norway -> 61.1529386, 8.7876653
Tap캇ld캇: Pakistan -> 30.3308401, 71.247499
Tap캇ld캇: Papua New Guinea -> -5.6816069, 144.2489081
Tap캇ld캇: Peru -> -6.8699697, -75.0458515
Tap캇ld캇: Poland -> 52.215933, 19.134422
Tap캇ld캇: Portugal -> 39.6621648, -8.1353519
Tap캇ld캇: Qatar -> 25.3336984, 51.2295295
Tap캇ld캇: Romania -> 45.9852129, 24.6859225
Tap캇ld캇: Rwanda -> -1.9646631, 30.0644358
Tap캇ld캇: Saudi Arabia -> 25.6242618, 42.3528328
Tap캇ld캇: Senegal -> 14.4750607, -14.4529612
Tap캇ld캇: Slovenia -> 46.1199444, 14.8153333
Tap캇ld캇: South Africa -> -28.8166236, 24.991639
Tap캇ld캇: Spain -> 39.3260685, -4.8379791
Tap캇ld캇: Sri Lanka -> 7.5554942, 80.7137847
Tap캇ld캇: Sudan -> 14.5844444, 29.4917691
Tap캇ld캇: Suriname -> 4.1413025, -56.0771187
Tap캇ld캇: Sweden -> 59.6749712, 14.5208584
Tap캇ld캇: Switzerland -> 46.7985624, 8.2319736
Tap캇ld캇: Tajikistan -> 38.6281733, 70.8156541
Tap캇ld캇: Thailand -> 14.8971921, 100.83273
Tap캇ld캇: Tunisia -> 33.8439408, 9.400138
Tap캇ld캇: Turkey -> 39.294076, 35.2316631
Tap캇ld캇: Uganda -> 1.5333554, 32.2166578
Tap캇ld캇: Ukraine -> 49.4871968, 31.2718321
Tap캇ld캇: United Kingdom -> 54.7023545, -3.2765753
Tap캇ld캇: Uruguay -> -32.8755548, -56.0201525
Tap캇ld캇: Zambia -> -14.5189121, 27.5589884
Tap캇ld캇: Zimbabwe -> -18.4554963, 29.7468414
mliyyat tamamland캇!

In [64]:
# Unikal lk v 캅l c체tlrini (hdflri) yarad캇r캇q
weather_targets = df[['Area', 'Year', 'lat', 'lon']].drop_duplicates().reset_index(drop=True)

print(f"Haz캇rd캇r! {len(weather_targets)} frqli n철qt 체챌체n hava mlumat캇 챌kilck.")

Haz캇rd캇r! 2250 frqli n철qt 체챌체n hava mlumat캇 챌kilck.

In [65]:
import requests
def get_weather_data(lat, lon, year):
    if pd.isna(lat) or pd.isna(lon):
        return None, None, None

    # URL-i yoxla
    url = (f"https://archive-api.open-meteo.com/v1/archive?"
           f"latitude={float(lat)}&longitude={float(lon)}&"
           f"start_date={year}-01-01&end_date={year}-12-31&"
           f"daily=temperature_2m_mean,rain_sum,snowfall_sum&timezone=auto")

    try:
        response = requests.get(url)

        # gr 400 v ya 429 xtas캇 al캇r캇qsa, sbbi 챌ap edk
        if response.status_code != 200:
            print(f"Xta: {row['Area']} ({year}) 체챌체n Status Code: {response.status_code}")
            print(response.text) # API-dan gln xta mesaj캇
            return None, None, None

        data = response.json()

        if 'daily' not in data:
            print(f"Mlumat tap캇lmad캇: {row['Area']} ({year})")
            return None, None, None

        daily = data['daily']

        # Bo siyah캇lar캇 yoxlayaq
        avg_temp = round(sum(daily['temperature_2m_mean']) / len(daily['temperature_2m_mean']), 2) if daily.get('temperature_2m_mean') else None
        total_rain = round(sum(daily['rain_sum']), 2) if daily.get('rain_sum') else None
        total_snow = round(sum(daily['snowfall_sum']), 2) if daily.get('snowfall_sum') else None

        return avg_temp, total_rain, total_snow

    except Exception as e:
        print(f"Sistem xtas캇: {e}")
        return None, None, None

In [66]:
from google.colab import files # Kompyuter y체klmk 체챌체n

def get_weather_data(lat, lon, year):
    if pd.isna(lat) or pd.isna(lon):
        return None, None, None
    url = (f"https://archive-api.open-meteo.com/v1/archive?"
           f"latitude={lat}&longitude={lon}&"
           f"start_date={year}-01-01&end_date={year}-12-31&"
           f"daily=temperature_2m_mean,precipitation_sum,snowfall_sum&"
           f"timezone=auto")
    try:
        response = requests.get(url, timeout=10)
        if response.status_code == 200:
            data = response.json()
            daily = data.get('daily', {})
            # Ortalama Temperatur
            avg_t = round(sum(daily.get('temperature_2m_mean', [])) / len(daily.get('temperature_2m_mean', [])), 2) if daily.get('temperature_2m_mean') else None
            # Cmi Ya캇nt캇
            total_p = round(sum(daily.get('precipitation_sum', [])), 2) if daily.get('precipitation_sum') else None
            # Cmi Qar
            total_s = round(sum(daily.get('snowfall_sum', [])), 2) if daily.get('snowfall_sum') else None
            return avg_t, total_p, total_s
        return None, None, None
    except:
        return None, None, None

start = 0
end = 500
current_batch = weather_targets.iloc[start:end]
batch_results = []

print(f"{start} il {end} aras캇 mlumatlar 챌kilir...")

for index, row in current_batch.iterrows():
    t, p, s = get_weather_data(row['lat'], row['lon'], row['Year'])
    batch_results.append({
        'Area': row['Area'], 'Year': row['Year'],
        'avg_temp': t, 'total_precip': p, 'total_snow': s
    })

    if index % 10 == 0:
        print(f"Stir {index} tamamland캇: {row['Area']} ({row['Year']})")

    # 2.5 saniy fasil
    time.sleep(2.5)

# yadda saxla v y체kl
filename = f"weather_data_{start}_{end}.csv"
batch_df = pd.DataFrame(batch_results)
batch_df.to_csv(filename, index=False)
files.download(filename) # Fayl캇 avtomatik kompyuterin y체klyir

print(f"Tamamland캇! {filename} fayl캇 kompyuterin y체klndi.")

0 il 500 aras캇 mlumatlar 챌kilir...
Stir 0 tamamland캇: Albania (1990)
Stir 10 tamamland캇: Albania (2000)
Stir 20 tamamland캇: Albania (2011)
Stir 30 tamamland캇: Algeria (1997)
Stir 40 tamamland캇: Algeria (2008)
Stir 50 tamamland캇: Angola (1994)
Stir 60 tamamland캇: Angola (2005)
Stir 70 tamamland캇: Argentina (1991)
Stir 80 tamamland캇: Argentina (2001)
Stir 90 tamamland캇: Argentina (2012)
Stir 100 tamamland캇: Armenia (2000)
Stir 110 tamamland캇: Armenia (2011)
Stir 120 tamamland캇: Australia (1997)
Stir 130 tamamland캇: Australia (2008)
Stir 140 tamamland캇: Austria (1994)
Stir 150 tamamland캇: Austria (2005)
Stir 160 tamamland캇: Azerbaijan (1993)
Stir 170 tamamland캇: Azerbaijan (2004)
Stir 180 tamamland캇: Bahamas (1992)
Stir 190 tamamland캇: Bahamas (2002)
Stir 200 tamamland캇: Bahamas (2013)
Stir 210 tamamland캇: Bahrain (1999)
Stir 220 tamamland캇: Bahrain (2010)
Stir 230 tamamland캇: Bangladesh (1996)
Stir 240 tamamland캇: Bangladesh (2007)
Stir 250 tamamland캇: Belarus (1995)
Stir 260 tamamland캇: Belarus (2006)
Stir 270 tamamland캇: Belgium (2002)
Stir 280 tamamland캇: Belgium (2013)
Stir 290 tamamland캇: Botswana (1999)
Stir 300 tamamland캇: Botswana (2010)
Stir 310 tamamland캇: Brazil (1996)
Stir 320 tamamland캇: Brazil (2007)
Stir 330 tamamland캇: Bulgaria (1993)
Stir 340 tamamland캇: Bulgaria (2004)
Stir 350 tamamland캇: Burkina Faso (1990)
Stir 360 tamamland캇: Burkina Faso (2000)
Stir 370 tamamland캇: Burkina Faso (2011)
Stir 380 tamamland캇: Burundi (1997)
Stir 390 tamamland캇: Burundi (2008)
Stir 400 tamamland캇: Cameroon (1994)
Stir 410 tamamland캇: Cameroon (2005)
Stir 420 tamamland캇: Canada (1991)
Stir 430 tamamland캇: Canada (2001)
Stir 440 tamamland캇: Canada (2012)
Stir 450 tamamland캇: Central African Republic (1998)
Stir 460 tamamland캇: Central African Republic (2009)
Stir 470 tamamland캇: Chile (1995)
Stir 480 tamamland캇: Chile (2006)
Stir 490 tamamland캇: Colombia (1992)

Tamamland캇! weather_data_0_500.csv fayl캇 kompyuterin y체klndi.

In [67]:
# K철hn siyah캇n캇 boalt ki, yeni hiss 체챌체n yer a챌캇ls캇n
batch_results = []

In [68]:
from google.colab import files # Kompyuter y체klmk 체챌체n

def get_weather_data(lat, lon, year):
    if pd.isna(lat) or pd.isna(lon):
        return None, None, None
    url = (f"https://archive-api.open-meteo.com/v1/archive?"
           f"latitude={lat}&longitude={lon}&"
           f"start_date={year}-01-01&end_date={year}-12-31&"
           f"daily=temperature_2m_mean,precipitation_sum,snowfall_sum&"
           f"timezone=auto")
    try:
        response = requests.get(url, timeout=10)
        if response.status_code == 200:
            data = response.json()
            daily = data.get('daily', {})
            # Ortalama Temperatur
            avg_t = round(sum(daily.get('temperature_2m_mean', [])) / len(daily.get('temperature_2m_mean', [])), 2) if daily.get('temperature_2m_mean') else None
            # Cmi Ya캇nt캇
            total_p = round(sum(daily.get('precipitation_sum', [])), 2) if daily.get('precipitation_sum') else None
            # Cmi Qar
            total_s = round(sum(daily.get('snowfall_sum', [])), 2) if daily.get('snowfall_sum') else None
            return avg_t, total_p, total_s
        return None, None, None
    except:
        return None, None, None


start = 500
end = 1000
current_batch = weather_targets.iloc[start:end]
batch_results = []

print(f"{start} il {end} aras캇 mlumatlar 챌kilir...")

for index, row in current_batch.iterrows():
    t, p, s = get_weather_data(row['lat'], row['lon'], row['Year'])
    batch_results.append({
        'Area': row['Area'], 'Year': row['Year'],
        'avg_temp': t, 'total_precip': p, 'total_snow': s
    })

    if index % 10 == 0:
        print(f"Stir {index} tamamland캇: {row['Area']} ({row['Year']})")

    #  2.5 saniy fasil
    time.sleep(2.5)

# yadda saxla v y체kl
filename = f"weather_data_{start}_{end}.csv"
batch_df = pd.DataFrame(batch_results)
batch_df.to_csv(filename, index=False)
files.download(filename) # Fayl캇 avtomatik kompyuterin y체klyir

print(f"Tamamland캇! {filename} fayl캇 kompyuterin y체klndi.")

500 il 1000 aras캇 mlumatlar 챌kilir...
Stir 500 tamamland캇: Colombia (2002)
Stir 510 tamamland캇: Colombia (2013)
Stir 520 tamamland캇: Croatia (2001)
Stir 530 tamamland캇: Croatia (2012)
Stir 540 tamamland캇: Denmark (1994)
Stir 550 tamamland캇: Denmark (2005)
Stir 560 tamamland캇: Dominican Republic (1995)
Stir 570 tamamland캇: Dominican Republic (2006)
Stir 580 tamamland캇: Ecuador (1992)
Stir 590 tamamland캇: Ecuador (2002)
Stir 600 tamamland캇: Ecuador (2013)
Stir 610 tamamland캇: Egypt (1999)
Stir 620 tamamland캇: Egypt (2010)
Stir 630 tamamland캇: El Salvador (1996)
Stir 640 tamamland캇: El Salvador (2007)
Stir 650 tamamland캇: Eritrea (1996)
Stir 660 tamamland캇: Eritrea (2007)
Stir 670 tamamland캇: Estonia (1995)
Stir 680 tamamland캇: Estonia (2006)
Stir 690 tamamland캇: Finland (1992)
Stir 700 tamamland캇: Finland (2002)
Stir 710 tamamland캇: Finland (2013)
Stir 720 tamamland캇: France (1999)
Stir 730 tamamland캇: France (2010)
Stir 740 tamamland캇: Germany (1996)
Stir 750 tamamland캇: Germany (2007)
Stir 760 tamamland캇: Ghana (1993)
Stir 770 tamamland캇: Ghana (2004)
Stir 780 tamamland캇: Greece (1990)
Stir 790 tamamland캇: Greece (2000)
Stir 800 tamamland캇: Greece (2011)
Stir 810 tamamland캇: Guatemala (1997)
Stir 820 tamamland캇: Guatemala (2008)
Stir 830 tamamland캇: Guinea (1994)
Stir 840 tamamland캇: Guinea (2005)
Stir 850 tamamland캇: Guyana (1991)
Stir 860 tamamland캇: Guyana (2001)
Stir 870 tamamland캇: Guyana (2012)
Stir 880 tamamland캇: Haiti (1998)
Stir 890 tamamland캇: Haiti (2009)
Stir 900 tamamland캇: Honduras (1995)
Stir 910 tamamland캇: Honduras (2006)
Stir 920 tamamland캇: Hungary (1992)
Stir 930 tamamland캇: Hungary (2002)
Stir 940 tamamland캇: Hungary (2013)
Stir 950 tamamland캇: India (1999)
Stir 960 tamamland캇: India (2010)
Stir 970 tamamland캇: Indonesia (1996)
Stir 980 tamamland캇: Indonesia (2007)
Stir 990 tamamland캇: Iraq (1993)

Tamamland캇! weather_data_500_1000.csv fayl캇 kompyuterin y체klndi.

In [70]:
from google.colab import files # Kompyuter y체klmk 체챌체n

def get_weather_data(lat, lon, year):
    if pd.isna(lat) or pd.isna(lon):
        return None, None, None
    url = (f"https://archive-api.open-meteo.com/v1/archive?"
           f"latitude={lat}&longitude={lon}&"
           f"start_date={year}-01-01&end_date={year}-12-31&"
           f"daily=temperature_2m_mean,precipitation_sum,snowfall_sum&"
           f"timezone=auto")
    try:
        response = requests.get(url, timeout=10)
        if response.status_code == 200:
            data = response.json()
            daily = data.get('daily', {})
            # Ortalama Temperatur
            avg_t = round(sum(daily.get('temperature_2m_mean', [])) / len(daily.get('temperature_2m_mean', [])), 2) if daily.get('temperature_2m_mean') else None
            # Cmi Ya캇nt캇
            total_p = round(sum(daily.get('precipitation_sum', [])), 2) if daily.get('precipitation_sum') else None
            # Cmi Qar
            total_s = round(sum(daily.get('snowfall_sum', [])), 2) if daily.get('snowfall_sum') else None
            return avg_t, total_p, total_s
        return None, None, None
    except:
        return None, None, None

# --- PARAMETRLR ---
start = 1000
end = 1500
current_batch = weather_targets.iloc[start:end]
batch_results = []

print(f"{start} il {end} aras캇 mlumatlar 챌kilir...")

for index, row in current_batch.iterrows():
    t, p, s = get_weather_data(row['lat'], row['lon'], row['Year'])
    batch_results.append({
        'Area': row['Area'], 'Year': row['Year'],
        'avg_temp': t, 'total_precip': p, 'total_snow': s
    })

    if index % 10 == 0:
        print(f"Stir {index} tamamland캇: {row['Area']} ({row['Year']})")

    # 2.5 saniy fasil
    time.sleep(2.5)

# yadda saxla v y체kl
filename = f"weather_data_{start}_{end}.csv"
batch_df = pd.DataFrame(batch_results)
batch_df.to_csv(filename, index=False)
files.download(filename) # Fayl캇 avtomatik kompyuterin y체klyir

print(f"Tamamland캇! {filename} fayl캇 kompyuterin y체klndi.")

1000 il 1500 aras캇 mlumatlar 챌kilir...
Stir 1000 tamamland캇: Iraq (2004)
Stir 1010 tamamland캇: Ireland (1990)
Stir 1020 tamamland캇: Ireland (2000)
Stir 1030 tamamland캇: Ireland (2011)
Stir 1040 tamamland캇: Italy (1997)
Stir 1050 tamamland캇: Italy (2008)
Stir 1060 tamamland캇: Jamaica (1994)
Stir 1070 tamamland캇: Jamaica (2005)
Stir 1080 tamamland캇: Japan (1991)
Stir 1090 tamamland캇: Japan (2001)
Stir 1100 tamamland캇: Japan (2012)
Stir 1110 tamamland캇: Kazakhstan (2000)
Stir 1120 tamamland캇: Kazakhstan (2011)
Stir 1130 tamamland캇: Kenya (1997)
Stir 1140 tamamland캇: Kenya (2008)
Stir 1150 tamamland캇: Latvia (1996)
Stir 1160 tamamland캇: Latvia (2007)
Stir 1170 tamamland캇: Lebanon (1993)
Stir 1180 tamamland캇: Lebanon (2004)
Stir 1190 tamamland캇: Lesotho (1990)
Stir 1200 tamamland캇: Lesotho (2000)
Stir 1210 tamamland캇: Lesotho (2011)
Stir 1220 tamamland캇: Libya (1997)
Stir 1230 tamamland캇: Libya (2008)
Stir 1240 tamamland캇: Lithuania (1996)
Stir 1250 tamamland캇: Lithuania (2007)
Stir 1260 tamamland캇: Madagascar (1993)
Stir 1270 tamamland캇: Madagascar (2004)
Stir 1280 tamamland캇: Malawi (1990)
Stir 1290 tamamland캇: Malawi (2000)
Stir 1300 tamamland캇: Malawi (2011)
Stir 1310 tamamland캇: Malaysia (1997)
Stir 1320 tamamland캇: Malaysia (2008)
Stir 1330 tamamland캇: Mali (1994)
Stir 1340 tamamland캇: Mali (2005)
Stir 1350 tamamland캇: Mauritania (1991)
Stir 1360 tamamland캇: Mauritania (2001)
Stir 1370 tamamland캇: Mauritania (2012)
Stir 1380 tamamland캇: Mauritius (1998)
Stir 1390 tamamland캇: Mauritius (2009)
Stir 1400 tamamland캇: Mexico (1995)
Stir 1410 tamamland캇: Mexico (2006)
Stir 1420 tamamland캇: Montenegro (2008)
Stir 1430 tamamland캇: Morocco (1994)
Stir 1440 tamamland캇: Morocco (2005)
Stir 1450 tamamland캇: Mozambique (1991)
Stir 1460 tamamland캇: Mozambique (2001)
Stir 1470 tamamland캇: Mozambique (2012)
Stir 1480 tamamland캇: Namibia (1998)
Stir 1490 tamamland캇: Namibia (2009)

Tamamland캇! weather_data_1000_1500.csv fayl캇 kompyuterin y체klndi.

In [71]:
batch_results = []

In [72]:
from google.colab import files # Kompyuter y체klmk 체챌체n

def get_weather_data(lat, lon, year):
    if pd.isna(lat) or pd.isna(lon):
        return None, None, None
    url = (f"https://archive-api.open-meteo.com/v1/archive?"
           f"latitude={lat}&longitude={lon}&"
           f"start_date={year}-01-01&end_date={year}-12-31&"
           f"daily=temperature_2m_mean,precipitation_sum,snowfall_sum&"
           f"timezone=auto")
    try:
        response = requests.get(url, timeout=10)
        if response.status_code == 200:
            data = response.json()
            daily = data.get('daily', {})
            # Ortalama Temperatur
            avg_t = round(sum(daily.get('temperature_2m_mean', [])) / len(daily.get('temperature_2m_mean', [])), 2) if daily.get('temperature_2m_mean') else None
            # Cmi Ya캇nt캇
            total_p = round(sum(daily.get('precipitation_sum', [])), 2) if daily.get('precipitation_sum') else None
            # Cmi Qar
            total_s = round(sum(daily.get('snowfall_sum', [])), 2) if daily.get('snowfall_sum') else None
            return avg_t, total_p, total_s
        return None, None, None
    except:
        return None, None, None

start = 1500
end = 2000
current_batch = weather_targets.iloc[start:end]
batch_results = []

print(f"{start} il {end} aras캇 mlumatlar 챌kilir...")

for index, row in current_batch.iterrows():
    t, p, s = get_weather_data(row['lat'], row['lon'], row['Year'])
    batch_results.append({
        'Area': row['Area'], 'Year': row['Year'],
        'avg_temp': t, 'total_precip': p, 'total_snow': s
    })

    if index % 10 == 0:
        print(f"Stir {index} tamamland캇: {row['Area']} ({row['Year']})")

    # 2.5 saniy fasil
    time.sleep(2.5)

# yadda saxla v y체kl
filename = f"weather_data_{start}_{end}.csv"
batch_df = pd.DataFrame(batch_results)
batch_df.to_csv(filename, index=False)
files.download(filename) # Fayl캇 avtomatik kompyuterin y체klyir

print(f"Tamamland캇! {filename} fayl캇 komp체terin y체klndi.")

1500 il 2000 aras캇 mlumatlar 챌kilir...
Stir 1500 tamamland캇: Nepal (1995)
Stir 1510 tamamland캇: Nepal (2006)
Stir 1520 tamamland캇: Netherlands (1992)
Stir 1530 tamamland캇: Netherlands (2002)
Stir 1540 tamamland캇: Netherlands (2013)
Stir 1550 tamamland캇: New Zealand (1999)
Stir 1560 tamamland캇: New Zealand (2010)
Stir 1570 tamamland캇: Nicaragua (1996)
Stir 1580 tamamland캇: Nicaragua (2007)
Stir 1590 tamamland캇: Niger (1993)
Stir 1600 tamamland캇: Niger (2004)
Stir 1610 tamamland캇: Norway (1990)
Stir 1620 tamamland캇: Norway (2000)
Stir 1630 tamamland캇: Norway (2011)
Stir 1640 tamamland캇: Pakistan (1997)
Stir 1650 tamamland캇: Pakistan (2008)
Stir 1660 tamamland캇: Papua New Guinea (1994)
Stir 1670 tamamland캇: Papua New Guinea (2005)
Stir 1680 tamamland캇: Peru (1991)
Stir 1690 tamamland캇: Peru (2001)
Stir 1700 tamamland캇: Peru (2012)
Stir 1710 tamamland캇: Poland (1998)
Stir 1720 tamamland캇: Poland (2009)
Stir 1730 tamamland캇: Portugal (1995)
Stir 1740 tamamland캇: Portugal (2006)
Stir 1750 tamamland캇: Qatar (1992)
Stir 1760 tamamland캇: Qatar (2002)
Stir 1770 tamamland캇: Qatar (2013)
Stir 1780 tamamland캇: Romania (1999)
Stir 1790 tamamland캇: Romania (2010)
Stir 1800 tamamland캇: Rwanda (1996)
Stir 1810 tamamland캇: Rwanda (2007)
Stir 1820 tamamland캇: Saudi Arabia (1993)
Stir 1830 tamamland캇: Saudi Arabia (2004)
Stir 1840 tamamland캇: Senegal (1990)
Stir 1850 tamamland캇: Senegal (2000)
Stir 1860 tamamland캇: Senegal (2011)
Stir 1870 tamamland캇: Slovenia (1999)
Stir 1880 tamamland캇: Slovenia (2010)
Stir 1890 tamamland캇: South Africa (1996)
Stir 1900 tamamland캇: South Africa (2007)
Stir 1910 tamamland캇: Spain (1993)
Stir 1920 tamamland캇: Spain (2004)
Stir 1930 tamamland캇: Sri Lanka (1990)
Stir 1940 tamamland캇: Sri Lanka (2000)
Stir 1950 tamamland캇: Sri Lanka (2011)
Stir 1960 tamamland캇: Suriname (1995)
Stir 1970 tamamland캇: Suriname (2006)
Stir 1980 tamamland캇: Sweden (1992)
Stir 1990 tamamland캇: Sweden (2002)

Tamamland캇! weather_data_1500_2000.csv fayl캇 komp체terin y체klndi.

In [74]:
batch_results = []

In [75]:
from google.colab import files # Kompyuter y체klmk 체챌체n

def get_weather_data(lat, lon, year):
    if pd.isna(lat) or pd.isna(lon):
        return None, None, None
    url = (f"https://archive-api.open-meteo.com/v1/archive?"
           f"latitude={lat}&longitude={lon}&"
           f"start_date={year}-01-01&end_date={year}-12-31&"
           f"daily=temperature_2m_mean,precipitation_sum,snowfall_sum&"
           f"timezone=auto")
    try:
        response = requests.get(url, timeout=10)
        if response.status_code == 200:
            data = response.json()
            daily = data.get('daily', {})
            # Ortalama Temperatur
            avg_t = round(sum(daily.get('temperature_2m_mean', [])) / len(daily.get('temperature_2m_mean', [])), 2) if daily.get('temperature_2m_mean') else None
            # Cmi Ya캇nt캇
            total_p = round(sum(daily.get('precipitation_sum', [])), 2) if daily.get('precipitation_sum') else None
            # Cmi Qar
            total_s = round(sum(daily.get('snowfall_sum', [])), 2) if daily.get('snowfall_sum') else None
            return avg_t, total_p, total_s
        return None, None, None
    except:
        return None, None, None


start = 2000
end = 2250
current_batch = weather_targets.iloc[start:end]
batch_results = []

print(f"{start} il {end} aras캇 mlumatlar 챌kilir...")

for index, row in current_batch.iterrows():
    t, p, s = get_weather_data(row['lat'], row['lon'], row['Year'])
    batch_results.append({
        'Area': row['Area'], 'Year': row['Year'],
        'avg_temp': t, 'total_precip': p, 'total_snow': s
    })

    if index % 10 == 0:
        print(f"Stir {index} tamamland캇: {row['Area']} ({row['Year']})")

    # 2.5 saniy fasil
    time.sleep(2.5)

# yadda saxla v y체kl
filename = f"weather_data_{start}_{end}.csv"
batch_df = pd.DataFrame(batch_results)
batch_df.to_csv(filename, index=False)
files.download(filename) # Fayl캇 avtomatik kompyuterin y체klyir

print(f"Tamamland캇! {filename} fayl캇 kompyuterin y체klndi.")

2000 il 2250 aras캇 mlumatlar 챌kilir...
Stir 2000 tamamland캇: Sweden (2013)
Stir 2010 tamamland캇: Switzerland (1999)
Stir 2020 tamamland캇: Switzerland (2010)
Stir 2030 tamamland캇: Tajikistan (1998)
Stir 2040 tamamland캇: Tajikistan (2009)
Stir 2050 tamamland캇: Thailand (1995)
Stir 2060 tamamland캇: Thailand (2006)
Stir 2070 tamamland캇: Tunisia (1992)
Stir 2080 tamamland캇: Tunisia (2002)
Stir 2090 tamamland캇: Tunisia (2013)
Stir 2100 tamamland캇: Turkey (1999)
Stir 2110 tamamland캇: Turkey (2010)
Stir 2120 tamamland캇: Uganda (1996)
Stir 2130 tamamland캇: Uganda (2007)
Stir 2140 tamamland캇: Ukraine (1995)
Stir 2150 tamamland캇: Ukraine (2006)
Stir 2160 tamamland캇: United Kingdom (1992)
Stir 2170 tamamland캇: United Kingdom (2002)
Stir 2180 tamamland캇: United Kingdom (2013)
Stir 2190 tamamland캇: Uruguay (1999)
Stir 2200 tamamland캇: Uruguay (2010)
Stir 2210 tamamland캇: Zambia (1996)
Stir 2220 tamamland캇: Zambia (2007)
Stir 2230 tamamland캇: Zimbabwe (1993)
Stir 2240 tamamland캇: Zimbabwe (2004)

Tamamland캇! weather_data_2000_2250.csv fayl캇 kompyuterin y체klndi.

In [76]:
import glob

# 1. B체t체n hiss-hiss y체klnn fayllar캇 bir siyah캇ya y캇캇r캇q
all_files = glob.glob("weather_data_*.csv")
print(f"Tap캇lan fayl say캇: {len(all_files)}")

# 2. Onlar캇 bir cdvld birldiririk
combined_weather = pd.concat([pd.read_csv(f) for f in all_files]).drop_duplicates().reset_index(drop=True)

# 3. Hava mlumatlar캇n캇 ana datasetin (df) 체zrin 'Area' v 'Year' s체tunlar캇na g철r join edirik
final_df = pd.merge(df, combined_weather, on=['Area', 'Year'], how='left')

# 4. Yoxlayaq: Bo qalan (NaN) hava mlumat캇 varm캇?
missing_count = final_df['avg_temp'].isnull().sum()
print(f"Hava mlumat캇 tap캇lmayan stir say캇: {missing_count}")

# 5. YEKUN fayl캇 kompyuterin y체kl
final_df.to_csv("crop_yield_prediction_with_weather.csv", index=False)
from google.colab import files
files.download("crop_yield_prediction_with_weather.csv")

print("Hr ey haz캇r! Art캇q b체t체n d체nya 체zr hava v mhsuldarl캇q mlumatlar캇 bir fayldad캇r.")

Tap캇lan fayl say캇: 5
Hava mlumat캇 tap캇lmayan stir say캇: 15144

Hr ey haz캇r! Art캇q b체t체n d체nya 체zr hava v mhsuldarl캇q mlumatlar캇 bir fayldad캇r.

In [78]:
final_df.sample(7)

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,lat,lon,avg_temp,total_precip,total_snow
18143,18143,Madagascar,Soybeans,2000,6096,1513,130.46,-18.924960,46.441642,21.05,1331.2,0.00
7560,7560,Ecuador,Sweet potatoes,1993,36276,2274,1844.00,-1.339767,-79.366697,21.46,7043.3,0.00
12202,12202,India,Soybeans,1999,11380,1083,46195.00,22.351115,78.667743,NaN,NaN,NaN
9850,9850,Guinea,Sweet potatoes,2013,34607,1651,877.19,10.722623,-10.708359,26.61,1155.4,0.00
16498,16498,Japan,Soybeans,1997,17380,1668,79821.18,36.574844,139.239418,8.21,1273.4,40.46
5012,5012,Burkina Faso,Yams,1996,73799,748,39.16,12.075308,-1.688031,28.35,565.0,0.00
14325,14325,India,Soybeans,2012,13530,1083,52980.00,22.351115,78.667743,NaN,NaN,NaN

In [1]:
final_df.to_sql(
    name="crop_yield_prediction_with_weather",
    con=engine,
    if_exists="replace",
    index=False
)

print(" Data loaded from .env and written to MySQL")

NameError: name 'final_df' is not defined